---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <main>
    <p>
      Hi, I'm Matthew. I'm a Ph.D. student at Iowa State University and a
      technology enthusiast. My research is in developing computational models
      for solid propellants (the kind that go in rockets). When I'm not learning
      to be a rocket scientist, I spend my time programming, learning about
      technology, and taking care of my cats.
    </p>
  </main>
</BaseLayout>
